@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

html{scroll-behavior:smooth;}

h1 {font-size: 3.5em;}
h2 {font-size: 2.3em;}
h3 {font-size: 2em;}
p {font-size: 1.25em;}
ul {list-style: none;}
li {font-size 1.25em;}

body{
    margin: 0;
    font-family:"Roboto", serif;
    }

button{
    font-size: 1.3em;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 70px #000000;
    color: white; 
    background-color:#eba22a;
}

button:hover{background-color: #d19025};

.container{
    max-widht: 1400px;
    margin: auto;
}

header{
    position: relative;
    z-index: 2;
    background-color: #ffffff; 
}

header .logo{
    margin: 0;
    width: 200px;
    padding: 25px 30px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size:16px
}
header a:hover{
    color: #F35702;
}
#hero{
    padding:150px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    position: relative;
}
video{
    position: absolute;
    top: auto%;
    left: auto%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1d;
    opacity: 0.6;
}
.color-acento{
    color: #eba22a;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
        padding-right: 20px;
    }

header nav{
    flex-direction: row;
    padding-bottom: 0;
}

}

@media (min-width: 1200px){
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }

}

